
#main {

}
#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 46px;
    background-color: #000;
}
#nav{
    display: inline-block;
} 
#nav, .subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;
}
#nav .nav-icon{
    font-size: 10px;
}

#nav li{
    position: relative;
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px; 
    display: inline-block;
}

#nav > li:hover > .subnav{
    display: block;
}

#nav >  li:hover > a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 140px;
    top: 105%;
    left: 0;
}
#nav .subnav a{
    color: #000;
}

#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
}

#header .search-btn{
    display: inline-block;
    float: right;

}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    padding: 0 21px;
}

#slider {
    margin-top: 46px;

    /*Note #1*/
    padding-top: 50%;
    background: url('/1/assets/img/slider/chicago.jpg') top center / cover no-repeat;

}

#content {
}

#footer {

}