:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
  }
  
* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
html {
    scroll-behavior: smooth;
    font-family: helvetica, arial, sans-serif;
    font-size: 62.5%;
}
/*Common*/
.text-center {
    text-align: center !important;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.margin-top-8 {
    margin-top: 8px !important; 
}

.margin-top-16 {
    margin-top: 16px !important; 
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: calc(100% / 2);
}

.col-3 {
    width: calc(100% / 3);
}
.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 17px;
    outline: none;
    cursor: pointer;
    display: inline-block;
}
.btn:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid rgb(51, 51, 51);
}

.pull-right {
    float: right;
}
/*Main*/
#main {
}

.white-text {
  color: #fff !important;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 46px;
  background-color: #000;
  z-index: 1;
}
#nav {
  display: inline-block;
}
#nav,
.subnav {
  list-style-type: none;
}
#nav > li {
  display: inline-block;
}
#nav .nav-icon {
  font-size: 10px;
}

#nav li {
  position: relative;
}
#nav > li > a {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: inline-block;
}

#nav > li:hover > .subnav {
  display: block;
}

#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 140px;
  top: 105%;
  left: 0;
}
#nav .subnav a {
  color: #000;
  font-size: 15px;
}

#nav .subnav li:hover {
  color: #000;
  background-color: #ccc;
}

#header .search-btn {
  display: inline-block;
  float: right;
}

#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}

#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
  padding: 0 21px;
}

#slider {
  position: relative;
  margin-top: 46px;

  /*Note #1*/
  padding-top: 50%;
  background: url("/1/assets/img/slider/chicago.jpg") top center / cover
    no-repeat;
}
#slider .text-content {
  position: absolute;
  bottom: 47px;
  color: #fff;
  width: 100%;
  text-align: center;
}
#slider .text-heading {
  font-weight: 300;
  font-size: 24px;
}
#slider .text-description {
  font-size: 15px;
  margin-top: 15px;
}

#content .content-section {
  width: 800px;
  margin: auto;
  padding: 64px 0;
}
#content .content-heading {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 5px;
}
#content .section-sub-heading {
  text-align: center;
  font-size: 15px;
  margin-top: 25px;
  font-style: italic;
  opacity: 0.6;
}
#content .about-text {
  font-size: 15px;
  margin-top: 25px;
  text-align: justify;
  line-height: 1.4;
}


#content .members-list {
  margin-top: 48px;
  overflow: hidden;
}

#content .member-name {
  font-size: 15px;
}

#content .member-img {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}

.tour-section {
  background: #000;
}

.tour-section .ticket-list {
  background: #fff;
  margin-top: 40px;
}

.ticket-list li {
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
  list-style: none;
}

.ticket-list .sold-out {
  background-color: #f44336;
  padding: 4px;
  color: #fff;
  margin-left: 20px;
}

.ticket-list .quantity {
  float: right;
  background-color: #000;
  color: #fff;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
  margin-top: -3px;
}

.place-list {
  overflow: hidden;
  margin-top: 32px;
  margin-bottom: 48px;
}

.place-img {
  width: 100%;
  display: block;
}
.place-img:hover {
  opacity: 0.6;
  cursor: pointer;
}
.place-content {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}
.place-heading {
}
.place-time {
  margin-top: 15px;
  color: #757575;
}
.place-description {
  margin: 15px 0;
  line-height: 1.4;
}

.place-item h3 {
  font-size: 15px;
  font-weight: 600;
}


/*Contact Form */
.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-style: 15px;
}

.contact-form .form-control{
    padding: 7px 14px;
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    line-height: 34px;
}


/* Map Section */
.map-section img{   
    width: 100%;


}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer {
    font-size: 24px;
}

#footer .social-media a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}
#footer .copyright a:hover,
#footer .social-media a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a{
    color: rgba(0, 0, 0, 0.6);
}

.modal {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

}
.modal-container {
  position: relative;
  background: #fff;
  width: 900px;
  min-height: 200px;
  max-width: calc(100% - 32px);
}
.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  opacity: 0.8;
}

.modal-close:hover {
  opacity: 1;
}

.modal-header {
  background: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}
.modal-heading-icon {
  margin-right: 16px;
}
.modal-body {
  padding: 16px;
}
.modal-close .ti-close {
  font-size: 14px;
}
.modal-label {
  display: block;
  margin-bottom: 12px;
  font-size: 15px;
}
.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}
#buy-tickets {
  width: 100%;
  text-align: center;
  border: none;
  background-color: #009688;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 15px;
  padding: 15px;
  cursor: pointer;
}
#buy-tickets:hover {
  opacity: 0.8;
}

.modal-footer {
  float: right;
  padding: 16px;

}  
.modal-footer a{
    color: #2196F3;
}

.modal .js-modal .open{
    display: block;
}